<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkjiao.friends.mm"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.pkjiao.friends.mm.provider.DATASETPROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.pkjiao.friends.mm.MarrySocialApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StyledIndicators" >
        <activity
            android:name="com.pkjiao.friends.mm.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.MarrySocialMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.EditCommentsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ViewPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ReplyListsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ChatMsgActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:parentActivityName="com.pkjiao.friends.mm.MarrySocialMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MarrySocialMainActivity" />
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ContactsInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ChooseHeaderBackgroundActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.FillUserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.InviteFriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.pkjiao.friends.mm.activity.AboutUsActivity" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ProductDescActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.photochoose.PhotoChooseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.activity.UserFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pkjiao.friends.mm.test.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.pkjiao.friends.mm.services.ReadContactsIntentService" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadChatMsgService" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.UploadCommentsAndBravosAndReplysIntentService" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadCommentsIntentService" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadNoticesService" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadIndirectFriendsIntentServices" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DeleteCommentsAndBravosAndReplysIntentServices" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadReplysIntentServices" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.DownloadBravosIntentServices" >
        </service>
        <service android:name="com.pkjiao.friends.mm.services.UpdateAppServices" >
        </service>

        <provider
            android:name="com.pkjiao.friends.mm.provider.DBContentChangeProvider"
            android:authorities="com.pkjiao.friends.mm.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.pkjiao.friends.mm.provider.DATASETPROVIDER"
            android:syncable="false" />

        <receiver android:name="com.pkjiao.friends.mm.broadcast.receive.NewTipsBroadcastReceiver" >
        </receiver>
        <receiver android:name="com.pkjiao.friends.mm.broadcast.receive.AuthCodeBroadcastReceiver" >
        </receiver>
        <receiver android:name="com.pkjiao.friends.mm.broadcast.receive.AutoRunBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--
                 <intent-filter>
                <action android:name="com.dhn.marrysocial.broadcast.action" />
            </intent-filter>
        -->

        <activity
            android:name="net.sourceforge.simcpux.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <receiver
            android:name="com.tencent.sample.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104433372" />
            </intent-filter>
        </activity>
    </application>

</manifest>