<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhn.marrysocial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.dhn.marrysocial.provider.DATASETPROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MarrySocialApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StyledIndicators" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarrySocialMainActivity" >
        </activity>
        <activity android:name=".activity.EditCommentsActivity" >
        </activity>
        <activity android:name=".activity.ViewPhotoActivity" >
        </activity>
        <activity android:name=".activity.ReplyListsActivity" >
        </activity>
        <activity
            android:name=".activity.ChatMsgActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:parentActivityName=".MarrySocialMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MarrySocialMainActivity" />
        </activity>
        <activity android:name=".activity.ContactsInfoActivity" >
        </activity>
        <activity android:name=".activity.ChooseHeaderBackgroundActivity" >
        </activity>
        <activity android:name=".activity.RegisterActivity" >
        </activity>
        <activity android:name=".activity.FillUserInfoActivity" >
        </activity>
        <activity android:name=".activity.InviteFriendsActivity" >
        </activity>
        <activity android:name=".activity.LoginActivity" >
        </activity>
        <activity android:name=".activity.SettingsActivity" >
        </activity>
        <activity android:name=".activity.AboutUsActivity" >
        </activity>
        <activity android:name=".activity.ProductDescActivity" >
        </activity>
        <activity android:name=".test.MainActivity" >
        </activity>

        <service android:name=".services.ReadContactsIntentService" >
        </service>
        <service android:name=".services.DownloadChatMsgService" >
        </service>
        <service android:name=".services.UploadCommentsAndBravosAndReplysIntentService" >
        </service>
        <service android:name=".services.DownloadCommentsIntentService" >
        </service>
        <service android:name=".services.DownloadNoticesService" >
        </service>
        <service android:name=".services.DownloadIndirectFriendsIntentServices" >
        </service>
        <service android:name=".services.DeleteCommentsAndBravosAndReplysIntentServices" >
        </service>

        <provider
            android:name="com.dhn.marrysocial.provider.DBContentChangeProvider"
            android:authorities="com.dhn.marrysocial.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.dhn.marrysocial.provider.DATASETPROVIDER"
            android:syncable="false" />
    </application>

</manifest>